@media screen and (min-width: 0px){
   *
   {
    margin: 0;

   }
   img
  {
    border: 2px solid black;
  }
  h3
  {
    width: 80%;
    display: block;
    margin: auto;
    margin-top: 5%;
    color: darkblue;
    text-shadow: 1px 1px 1px crimson;
  }
  #title_section
  {
    background-image: url("/img/background.jpg");
    /*background-repeat: no-repeat;*/
      /*background-size: cover;*/
      padding-top: 2px;
  }
  #title_img
  {
    display: block;
    margin: auto;
    width: 96%;
    margin-top: 20px;
    border-top: 2px solid black;

  }

  #title_h1
  {
    text-align: center;
    font-family: arial;
    margin-top: 3%;
    font-size: 16pt;
    font-family: 'Frijole', cursive;
    color: crimson;
    text-shadow: 2px 2px 2px darkblue;

  }
  #p0
  {
    text-align: center;
    font-style: italic;
  }
  p
  {
    text-align: center;
    font-family: arial;
    margin-top: 5px;
    font-size: 90%;

  }
  

  
  #frame1
  {
    margin: auto;
    width: 99.5%;
    height: 370px;
    margin-top: 3px;
    margin-left: 1px;

  }
  #frame2
  {
    margin: auto;
    width: 99.5%;
    height: 180px;
    margin-top: 3px;
    margin-left: 1px;

  }
  #frame3
  {
    margin: auto;
    width: 99.5%;
    height: 370px;
    margin-top: 3px;
    margin-left: 1px;

  }
  #frame4
  {
    margin: auto;
    width: 99.5%;
    height: 320px;
    margin-top: 3px;
    margin-left: 1px;

  }
   #frame5
  {
    margin: auto;
    width: 99.5%;
    height: 420px;
    margin-top: 3px;
    margin-left: 1px;

  }
  #div1
  {
    display: inline-block;
    width: 90%;
    margin-left: 4%;
    margin-top: 10%;
    vertical-align: top;
    
  }
  #div1_2
  {
    display: inline-block;
    width: 90%;
    margin-left: 4%;
    margin-top: 10%;
    vertical-align: top;
    
  }
  #div1_3
  {
    display: inline-block;
    width: 90%;
    margin-left: 4%;
    margin-top: 10%;
    vertical-align: top;
    
  }
  #div1_4
  {
    display: inline-block;
    width: 90%;
    margin-left: 4%;
    margin-top: 10%;
    vertical-align: top;
    
  }
  #div1_5
  {
    display: inline-block;
    width: 90%;
    margin-left: 4%;
    margin-top: 10%;
    vertical-align: top;
    
  }
  #div1_1
  {
    display: none;
  }
  #div3
  {
    display: inline-block;
    width: 90%;
    margin-left: 4%;
    margin-top: 10%;
    
  }
  #div4
  {
    display: inline-block;
    width: 90%;
    margin-left: 4%;
    margin-top: 10%;
    
  }
  #div2
  {
    display: inline-block;
    width: 30%;
    margin-left: 34%;
    margin-top: 15%;
    margin-bottom: 10%;
    vertical-align: top;
  }
  .inline_img
  {
    margin: auto;
    display: inline-block;
    vertical-align: top;
  } 
  .inline_img2
  {
    display: inline-block;
    vertical-align: top;
    width: 100%;
  }
  .inline_img3
  {
    display: inline-block;
    width: 100%;
    margin-top: 10%;
  }
  #poster
  {
    
    width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 10%;
  }
  #poster1
  {
    
    width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 10%;
  }
  #poster2
  {
    
    width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 10%;
  }
  #poster4
  {
    display: none;
  }
  #poster5
  {
    
    width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 10%;
  }
  #poster6
  {
    
    width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 10%;
  }
  #poster6_1
  {
    
    display: none;
    
  }
  #poster7
  {
    
    width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 10%;
  }
  #poster8
  {
    
    width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 10%;
  }
  #poster9
  {
    
    width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 10%;
  }

}

@media screen and (min-width: 481px){
   

  #title_section
  {
    background-image: url("/img/background.jpg");
  }

  #title_h1
  {
    text-align: center;
    font-size: 30pt;
    font-family: 'Frijole', cursive;
  }
  #title_img
  {
    width: 80%;
    border-top: 2px solid black;
    
    
  }
  .inline_img
  {
    display: inline-block;
    vertical-align: top;
    margin: 3%;
  }

  .inline_img2
  {
    display: inline-block;
    vertical-align: top;
    width: 99%;
    margin-top: 0;
  }
  .inline_img3
  {
    display: inline-block;
    width: 99%;
    margin-top: 10%;
  }
  .inline_img4
  {
    display: block;
    vertical-align: top;
    margin: 3%;
    width: 100%;
  }

  #iframe_div
  {
    display: inline-block;
    width: 45%;
    margin: 3%;
    vertical-align: top;
  }
  #iframe_div2
  {
    display: inline-block;
    width: 340px;
    margin-left: 3%;
    vertical-align: top;
    margin-top: 3%;
  
  }
  #iframe_div1
  {
    display: inline-block;
    width: 423px;
    margin-left: 16%;
    margin-top: 3%;
    vertical-align: top;
  }
  #poster
  {
    margin-left: 10%;
    width: 225px;
    display: inline-block;
    margin-top: 3%;
  }

  #div1
  {
    display: inline-block;
    width: 33%;
    margin-left: 11%;
    margin-top: 3%;
  }
  #div2
  {
    display: inline-block;
    width: 10%;
    margin-left: 11%;
    margin-top: 10%;
  }
  #div1_2
  {
    display: inline-block;
    width: 27%;
    margin-left: 6%;
    margin-top: 3%;
    vertical-align: top;
  }
  #div1_1
  {
    display: inline-block;
    width: 20%;
    margin-left: 6%;
    margin-top: 3%;
  }
  #div1_3
  {
    display: inline-block;
    width: 20.2%;
    margin-left: 6.5%;
    margin-top: 5%;
    vertical-align: top;
  }
  #div1_4
  {
    display: inline-block;
    width: 60%;
    margin-left: 6.5%;
    margin-top: 5%;
  }
  #div1_5
  {
    display: block;
    width: 30%;
    margin: auto;
    margin-top: 5%;
  }
  #poster2
  {
    display: none;
   
  }
  #poster1
  {
    margin-left: 5%;
    width: 302px;
    display: inline-block;
    margin-top: 3%;
  }
  #poster2
  {
    display: none;
   
  }
  #poster4
  {
    display: block;
    width: 25%;
    margin: auto;
  }
  #poster5
  {
    margin-left: 13%;
    width: 204px;
    display: inline-block;
    margin-top: 3%;
  }
  #poster6
  {
    margin-left: 0;
    width: 100%;
    display: inline-block;
   
  }
  #poster6_1
  {
    margin-left: 0;
    width: 100%;
    display: inline-block;
    margin-top: 3%;
  }
  
   #poster7
  {
    margin-left: 10%;
    width: 244px;
    display: inline-block;
    margin-top: 3%;
  }
  #poster8
  {
    margin-left: 0;
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 3%;

  }
   #poster9
  {
    margin-left: 13%;
    width: 198px;
    display: inline-block;
    margin-top: 3%;
  }


}


@media screen and (min-width: 1024px){
   
#title_section
  {
    background-image: url("/img/background.jpg");
  }

  #title_h1
  {
    text-align: center;
  }
  #title_img
  {
    width: 50%;
    border-top: 2px solid black;
    
  }
  p
  {
    text-align: center;
    font-family: arial;
    margin-top: 5px;

  }
  

  img 
  {
    display: block;
    margin: auto;
    margin-top: 30px;
    border: 2px solid black;
  }

  iframe
  {
    margin: auto;
    width: 33%;


  } 
  #poster
  {
    margin-left: 20%;
    width: 247px;
    display: inline-block;
    margin-top: 3%;
  }
  #poster1
  {
    margin-left: 20%;
    width: 302px;
    display: inline-block;
    margin-top: 3%;
  }
  #poster2
  {
    display: none;
   
  }
  #poster4
  {
    display: block;
    width: 25%;
    margin: auto;
  }
  #poster5
  {
    margin-left: 23%;
    width: 204px;
    display: inline-block;
    margin-top: 3%;
  }
  #poster6
  {
    margin-left: 0;
    width: 100%;
    display: inline-block;
    /*margin-top: 3%;*/
  }
   #poster7
  {
    margin-left: 23%;
    width: 244px;
    display: inline-block;
    margin-top: 3%;
  }
  #poster8
  {
    margin-left: 0;
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 5%;

  }
   #poster9
  {
    margin-left: 24.5%;
    width: 198px;
    display: inline-block;
    margin-top: 3%;
  }
  #div1
  {
    display: inline-block;
    width: 33%;
    margin-left: 11%;
    margin-top: 3%;
  }

  #div1_2
  {
    display: inline-block;
    width: 27%;
    margin-left: 6%;
    margin-top: 3%;
    vertical-align: top;
  }
  #div1_1
  {
    display: inline-block;
    width: 20%;
    margin-left: 6%;
    margin-top: 3%;
  }
  #div1_3
  {
    display: inline-block;
    width: 13%;
    margin-left: 6.5%;
    margin-top: 5%;
    vertical-align: top;
  }
  #div1_4
  {
    display: inline-block;
    width: 38%;
    margin-left: 6.5%;
    margin-top: 5%;
  }
  #div1_5
  {
    display: inline-block;
    width: 25%;
    margin-left: 6.5%;
    margin-top: 5%;
  }
  #div3
  {
    display: block;
    width: 60%;
    margin: auto;
  }
  #div2
  {
    display: inline-block;
    width: 10%;
    margin-left: 11%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  #div4
  {
    display: inline-block;
    width: 20%;
    margin-left: 20%;
    margin-top: 3%;
    vertical-align: top;
  }
  #frame3
  {
    margin-left: 0;
    width: 33%;
    margin: 3%;
  }
  #frame4
  {
    margin-left: 0;
    width: 33%;
    margin: 3%;
  }


  #frame1
  {
    margin-left: 0;
    width: 100%;
    
  }
  #frame2
  {
    margin-left: 0;
    width: 100%;
    
  }
  #poster_big1
  {
    width:357px;
  }
  #iframe_div
  {
    display: inline-block;
    width: 34%;
    margin: 3%;
    vertical-align: top;
  }
  #iframe_div2
  {
    display: inline-block;
    width: 424px;
    margin-left: 15%;
    vertical-align: top;
    margin-top: 3%;
    margin-right: 1%;
  }
  
  







}