
	
<h3>Welcome to dead206.gd, a one stop shop for every Grateful Dead show performed in Seattle.  The band first came to Seattle in 1967 to play at the Eagles Auditorium on 6th and Union.  Before the show they went down Golden Garden Park in Ballard and played a "sit-in, be-in" set down on the beach.  They played five times in Seattle in 1967.  Golden Gardens, Volunteer Park and three shows at the Eagles Auditorium.  NONE OF THE RECORDINGS OF THE '67 SEATTLE SHOWS HAVE SURVIVED. But here are some great photos of the concert at Golden Gardens Beach</h3>

<img id="poster7" src="img/67_1.jpg">
<img id="poster7" src="img/67_2.jpg">
<img id="poster7" src="img/67_3.jpg">
<img id="poster7" src="img/67_4.jpg">
<img id="poster7" src="img/67_5.jpg">
<img id="poster7" src="img/67_6.jpg">
<img id="poster7" src="img/67_7.jpg">
<img id="poster7" src="img/67_8.jpg">
<p>Check out the dude in the white sunglasses in the bottom right corner.  He's like "whoa"</p>
	
	
	

	

