
<div>
 <p id="mobile"><a href="https://www.google.com/maps/place/Tutta+Bella+Neapolitan+Pizzeria+-+Stone+Way/@47.6604592,-122.3446983,17z/data=!3m1!4b1!4m5!3m4!1s0x54901451540f3799:0x152d1d1fdeff725!8m2!3d47.6604592!4d-122.3425096">4411 Stone Way N. Seattle, WA 98103</a></p>

 <p id="mobile">(Press and Hold on the address to get GPS directions)</p>
 <p id="mobile2">Thursday - 6:30pm - Tutta Bella Pizzeria</p>
 <p id="mobile2">4411 Stone Way N. Seattle, WA 98103</p>
 <p id="mobile23">The red marker in the middle of the map next to the Woodland Park Zoo</p>
  <div id ="maps2">
    <div directions-map id="map"></div>
  </div>
 	<p id="mobile23" class="bottom_marker">The red marker in the middle of the map next to the Woodland Park Zoo</p>
</div>


<style type="text/css">
	#mobile23
	{
		font-family: 'Radley', sans-serif;
		color: red;

	}
</style>
