
	<div class="mobile_menu_div" id="first_mobile_menu">
		<p class="menu_box_p"><a href="#/">Home</a></p>
	</div>
	<div class="mobile_menu_div">
		<p class="menu_box_p"><a href="#/admiral">Admiral</a></p>
	</div>
	<div class="mobile_menu_div">
		<p class="menu_box_p"><a href="#/services">Services</a></p>
	</div>
	<div class="mobile_menu_div">
		<p class="mobile_menu_p"><a href="#/photos">Photos</a></p>
	</div>
	<div class="mobile_menu_div">
		<p class="mobile_menu_p"><a href="#/photos">Process</a></p>
	</div>
	<div class="mobile_menu_div">
		<p class="mobile_menu_p"><a href="#/reviews">Reviews</a></p>
	</div>
	<div class="mobile_menu_div">
		<p class="menu_box_p"><a href="#/contact">Contact</a></p>
	</div>

	<div id="bottom_strip">
		<h3 id="bottom_strip_h3">Admiral Construction ---- Licence #5271977</h3>
	</div>