<h1 id="welcome_h1">Admiral Construction Services</h1>
	
	<div id="slideshow2">
		<p id="statement_p3">Kitchens</p>
		<p id="statement_p3">Bathrooms</p>
		<p id="statement_p3">Woodfloors</p>
		<p id="statement_p3">Decking</p>
		<p id="statement_p3">Roofing</p>
		<p id="statement_p3">Foundations</p>
		<p id="statement_p3">Framing</p>
		<p id="statement_p3">Dry Wall</p>
		<p id="statement_p3">Painting</p>
		<p id="statement_p3">Electrical</p>
		<p id="statement_p3">Plumbing</p>
		<p id="statement_p3">Trim and Finish</p>
		<!-- <img id="main_slide" ng-src="{{homeCtrl.image}}" alt="beach" id="myImage" name="myImage"></a>
		
		<img id="mobile_slide" ng-src="{{homeCtrl.image}}" alt="beach" id="myImage" name="myImage"> -->
	</div>
	<div id="right_divs">
		<div id="latest_project_div">
			<img id="latest_project_img" src="img/latest1.JPG">
			<h3 id="right_divs_h3"><i>Latest Projects</i></h3>
		</div>
		<div id="get_bid_div">
			<a href="#/request"><img id="latest_project_img" src="img/bid1.JPG"></a>
			<a href="#/request"><h3 id="right_divs_h3"><i>Request A Bid</i></h3></a>
		</div>
	</div>
	<div id="statement_div">
		
	</div>
	

		<h1 id="welcome_h1_2">Latest Projects</h1>
		<img id="mobile_slide2" src="img/latest1.JPG">
		<a href="#/request"><h1 id="welcome_h1_2">Request a Bid</h1></a>
		<a href="#/request"><img id="mobile_slide2" src="img/bid1.JPG"></a>
	
	

	<div id="bottom_strip">
		<h3 id="bottom_strip_h3">Admiral Construction ---- Licence # 5271977</h3>
	</div>